In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('covid_5000.csv')
df.sample(5)

      age  gender  fever   cough     city has_covid
4369   37  Female  101.2  Severe  Chennai        No
909     6  Female   98.5  Severe    Delhi       Yes
4803   75    Male   98.2  Severe  Chennai       Yes
2355   79    Male  103.9     NaN    Delhi       Yes
4453   81  Female  100.3     NaN  Kolkata       Yes

In [29]:
df.drop(['cough'],inplace=True,axis=1)

In [6]:
df.shape

(5000, 6)

In [7]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        5000 non-null   int64
 1   gender     5000 non-null   str
 2   fever      5000 non-null   float64
 3   cough      3370 non-null   str
 4   city       5000 non-null   str
 5   has_covid  5000 non-null   str
dtypes: float64(1), int64(1), str(4)
memory usage: 234.5 KB

np.int64(0)

train test split

In [32]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2,random_state=42)

In [31]:
x_train

      age  gender  fever       city
4227   49    Male   98.5       Pune
4676   21    Male  100.9       Pune
800    19  Female  104.4  Bangalore
3671   25    Male  104.6      Delhi
4193   33    Male   97.9      Delhi
...   ...     ...    ...        ...
4426   21  Female  102.9     Mumbai
466    80    Male  103.0  Bangalore
3092   41    Male  102.6      Delhi
3772   57  Female  102.5       Pune
860    44    Male  100.6  Bangalore

[4000 rows x 4 columns]

In [33]:
x_train.shape

(4000, 4)

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

transformer = ColumnTransformer(transformers=[
    ('trf1',SimpleImputer(),['fever']),
    ('trf3',OneHotEncoder(drop='first'),['gender','city'])],
    remainder='passthrough')

transformer.fit_transform(x_train)

array([[ 98.5,   1. ,   0. , ...,   0. ,   1. ,  49. ],
       [100.9,   1. ,   0. , ...,   0. ,   1. ,  21. ],
       [104.4,   0. ,   0. , ...,   0. ,   0. ,  19. ],
       ...,
       [102.6,   1. ,   0. , ...,   0. ,   0. ,  41. ],
       [102.5,   0. ,   0. , ...,   0. ,   1. ,  57. ],
       [100.6,   1. ,   0. , ...,   0. ,   0. ,  44. ]], shape=(4000, 8))