In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [5]:
df.isnull().sum()

Age         177
Fare          0
SibSp         0
Parch         0
Survived      0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [8]:
df['Family'] = df['SibSp'] + df['Parch']

In [10]:
df['Family'].head()

0    1
1    1
2    0
3    1
4    0
Name: Family, dtype: int64

In [11]:
df

      Age     Fare  SibSp  Parch  Survived  Family
0    22.0   7.2500      1      0         0       1
1    38.0  71.2833      1      0         1       1
2    26.0   7.9250      0      0         1       0
3    35.0  53.1000      1      0         1       1
4    35.0   8.0500      0      0         0       0
..    ...      ...    ...    ...       ...     ...
885  39.0  29.1250      0      5         0       5
886  27.0  13.0000      0      0         0       0
887  19.0  30.0000      0      0         1       0
889  26.0  30.0000      0      0         1       0
890  32.0   7.7500      0      0         0       0

[714 rows x 6 columns]

In [15]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [16]:
df

      Age     Fare  Survived  Family
0    22.0   7.2500         0       1
1    38.0  71.2833         1       1
2    26.0   7.9250         1       0
3    35.0  53.1000         1       1
4    35.0   8.0500         0       0
..    ...      ...       ...     ...
885  39.0  29.1250         0       5
886  27.0  13.0000         0       0
887  19.0  30.0000         1       0
889  26.0  30.0000         1       0
890  32.0   7.7500         0       0

[714 rows x 4 columns]

In [18]:
# train Test Split

x = df.drop(columns=['Survived'])
y = df['Survived']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
x_train.sample(5)

      Age     Fare  Family
74   32.0  56.4958       0
395  22.0   7.7958       0
120  21.0  73.5000       2
16    2.0  29.1250       5
574  16.0   8.0500       0

In [23]:
x_test.head()

      Age   Fare  Family
149  42.0  13.00       0
407   3.0  18.75       2
53   29.0  26.00       1
369  24.0  69.30       0
818  43.0   6.45       0

In [24]:
# Without BInarization 

clf = DecisionTreeClassifier()

clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

accuracy_score(y_test,y_pred)

0.6293706293706294

In [25]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring='accuracy'))

np.float64(0.6485133020344287)

In [31]:
# Appling Binarization

from sklearn.preprocessing import Binarizer

trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['Family'])
],remainder='passthrough')

In [32]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.fit_transform(x_test)

In [33]:
pd.DataFrame(x_train_trf,columns=['Family','Age','Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [35]:
clf = DecisionTreeClassifier()
clf.fit(x_train_trf,y_train)
y_pred2 = clf.predict(x_test)

accuracy_score(y_test,y_pred2)

c:\Users\LENOVO THINKBOOK\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

0.6433566433566433

In [36]:
x_trf = trf.fit_transform(x)
np.mean(cross_val_score(DecisionTreeClassifier(),x_trf,y,cv=10,scoring='accuracy'))

np.float64(0.6331572769953052)