In [2]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [12]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [15]:
df.dropna(inplace=True)

In [16]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [19]:
df.isnull().sum()

Age         0
Fare        0
SibSp       0
Parch       0
Survived    0
Family      0
dtype: int64

In [23]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [24]:
df.head()

    Age     Fare  Survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0