In [5]:
import pandas as pd

df = pd.read_json('sample_Data.json')

df.head()

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
2,3,Sony PlayStation 5,The Sony PlayStation 5 features an AMD Zen 2-b...,499.99,Electronics,https://www.sony.com/image/44baa604124b770c824...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
4,5,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     str
 2   description  20 non-null     str
 3   price        20 non-null     float64
 4   category     20 non-null     str
 5   image        20 non-null     str
dtypes: float64(1), int64(1), str(4)
memory usage: 1.1 KB

In [7]:
df.isnull().sum()

id             0
name           0
description    0
price          0
category       0
image          0
dtype: int64

In [8]:
df.describe()

             id        price
count  20.00000    20.000000
mean   10.50000   507.687000
std     5.91608   373.008199
min     1.00000   129.950000
25%     5.75000   244.237500
50%    10.50000   374.990000
75%    15.25000   724.742500
max    20.00000  1599.990000

In [10]:
df.shape

(20, 6)